@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
#main {
  background-color: #ADD8E6;
  font-family: Raleway,monospace;
  padding-bottom: 10px;
}
.left-tab {
  display: inline-block;
  text-align: right;
  width: 40%;
  margin-left: 10%;
}
.right-tab {
  margin-left: 50%;
  text-align: left;
}
#title {
  text-align: center;
}
#description {
  text-align: center;
  font-size: 22px;
}
#main-div {
  background-color: #FFFFFF;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 20px;
  border-radius: 10px;
}
#survey-form {
 font-size: 21px;
}
#drop-down {
  font-size: 22px;
  
}
#down-options {
  font-size: 22px;
}
#name-label {
  font-size: 22px;
}
#email-label {
  font-size: 22px;
}
#number-label {
  font-size: 22px;
}
#name {
  font-size: 17px;
  width: 280px;
}
#email {
  font-size: 17px;
  width: 280px;
}
#number {
  font-size: 17px;
  width: 280px;
}
#text-area {
  font-size: 15px;
  height: 50px;
  resize: vertical;
  width: 280px;
}
#submit {
  width: 130px;
  border: 0px solid;
  border-radius: 5px;
  height: 40px;
  color: #FFFFFF;
  font-size: 17px;
  background-color: #6EB0F5;
  margin-left: 43%;
  margin-bottom: 25px;
}
